body {
  margin: 0;
  font-family: "Space Mono";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Space Mono";
  src: url("../fonts/SpaceMono-Regular.ttf");
}
@font-face {
  font-family: "Space Mono Bold";
  src: url("../fonts/SpaceMono-Bold.ttf");
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
