.Scoreboard div {
  display: grid;
  grid-template-columns: 3fr 2fr;
  /* less nice color  */
  background-color: #92e2e9;
  /* dark color  */
  border: 1px solid black;
  margin: 1rem 0;
  padding: 0 0.5rem;
}
.Scoreboard-category {
  text-align: left;
  pointer-events: none;
}
.Scoreboard-score {
  text-align: right;
  pointer-events: none;
}
.Scoreboard-disabled {
  /* dull color  */
  background-color: #e0ffff !important;
  pointer-events: none;
  text-decoration: line-through;
}
.Scoreboard-description,
.Scoreboard-curScore {
  display: block;
  font-family: "Space Mono Italic";
  font-size: smaller;
}
.Scoreboard-startover {
  background-color: inherit;
  font-size: inherit;
  /* dark color  */
  border: 1px solid black;
  font-family: inherit;
  margin-bottom: 1rem;
  color: inherit;
}
